<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">List:</strong>
    <%= item.list_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= item.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchased:</strong>
    <%= item.purchased %>
  </p>

</div>
